@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #34A0A4;
  --color-gray-custom: #AAAAAA;
  --font-DMsams: "DM Sans", sans-serif;
}
